body {
    font-size: 100%;
    font-family: Verdana, sans-serif;
    background-color: grey;
    line-height: 1.2;
}

nav {
    background-color: black; 
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1.2rem;
  }

  nav ul {
    margin: 0;
    display: flex;
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  article {
    width: 50%;
    margin: 0 2rem;
  }

  main {
    display: flex;
  }